html,
body {
  margin: 0;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: #4b7997;
}
* {
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

.container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.container > * {
  flex: 1;
}
