body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px 15px;
  cursor: pointer;
}

.active {
  background: black;
  color: white;
}

/*. **** header **** */

/* css-1 header içindeki 2 item'ı;
 üstlü altlı olacak ve yatayda ortalanacak şekilde
 ve aralıklarını dokümanın default font değerinin 2 katı olacak şekilde flex ayarları ile yapalım. */
header {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 15px 20px;
  border: 1px solid black;
  background-color: gray;
  color: white;
  text-decoration: none;
}

/* **** Main **** */
/* css-2 .main-container class'ı için kural tanımlayalım ve içindeki yazıları ortalayalım.*/
/* css-3 .main-container'ın genişliği ekranın %80'i olsun ve maksimum genişliği 750px olsun.*/
/* css-4 .main-container'ın blok olarak yatayda ortalı olsun */
/* css-5 iç dolgusu %5 olsun.*/
.main-container {
  text-align: center;
  width: 80%;
  max-width: 750px;
  display: block;
  margin: auto;
  padding: 5%;
}

/* css-6 h1 başlığı büyük harfler olsun */
h1 {
  text-transform: uppercase;
}

/* css-7 .main-section içindeki imajı ekranın sağına ve soluna dayayalım. */
.main-section img {
  width: 100%;
}

/* **** Advantages **** */
/* 
  css-8 advantages-section class'ında;
  display flex uygulayalım, 
  itemların arası flex özelliği ile eşit dağılıtılsın.
  dış boşluğu yukarıdan 5% olsun sağa*-sola yaslansın.
*/
.advantages-section {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.bold {
  font-weight: bold;
}

/* 
css-9 advantages-section classındaki resimlerin;
genişliği bulunduğu alanın %15'i olsun
en/boy oranı 1/4 olsun
*/
.advantages-section img {
  width: 15%;
  aspect-ratio: 1/4;
}

/* 
css-10 advantages-section classının içindeki div'ler için;
genişliği bulunduğu alanın %15'i olsun
css-11 iç boşlukları doküman font ölçüsüyle aynı olsun
css-12 flex kullanarak column yönünde dikeyde ve yatayda ortalı olsun.
css-13 metinler ortalansın
*/
.advantages-section div {
  width: 15%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* **** footer **** */
footer {
  width: 100%;
  background: gray;
  padding: 20px 0;
}

footer button {
  display: block;
  margin: 20px auto;
}

/* css-14 responsive tasarım için maksimum genişlik 500px için media query yazalım.
css-15 body tag'ini kullanarak sayfanın 300px'den küçük olmasını engelleyelim.
css-16 advantages-section class'ı için sığmayan item'ların aşağı kayması(wrap) için flex ve satır arasını ana font boyutunun 1 katını flex özelliklerini kullanarak ayarlayalım.
css-17 advantages-section class'ı içindeki imagelar yatay'da 2 tane olsun diye genişliğini %45 yapalım.
css-18 advantages-section class'ı içindeki div, diğer resimlerle beraber flex davrandığı için dar görünüyor. Nasıl bulunduğu alanı kaplamasını sağlayabiliriz?
css-19 navigasyon menüsünün içindeki itemların column olmasını, genişliğinin 50% olmasını, metinlerin ortalanmasını ve tüm itemların aynı genişliğe esnemesini sağlayalım.
*/
@media (max-width: 500px) {
  body {
    min-width: 300px;
  }
  .advantages-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .advantages-section img {
    width: 45%;
  }
  .advantages-section div {
    display: block;
    width: 100%;
  }
  nav {
    flex-direction: column;
    width: 50%;
    text-align: center;
    align-items: stretch;
  }
}
